Repository microsoft/msix-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @msftrubengu, @ranm-msft, @johnmcpms, @wcheng-msft, @jyvenugo, @sarjanas-msft, @lechacon, @jamespik

CODEOWNERS:

# MSIX SDK
* @msftrubengu @ranm-msft @johnmcpms 

# MsixCoreInstaller owners
/MsixCore/ @wcheng-msft @jyvenugo @sarjanas-msft

# Utils library
/tools/utils/ @ranm-msft @msftrubengu @johnmcpms @lechacon @jamespik

# Azure Pipelines tasks
/tools/pipelines-tasks @ranm-msft @msftrubengu @johnmcpms @lechacon

Add package name and version
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add MSBuild 17 to task inputs
  tools/pipelines-tasks/MsixPackaging/task.json
  tools/pipelines-tasks/MsixPackaging/task.loc.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Reenable steps after testing
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Update AzDO extension dependencies (#500)
  tools/pipelines-tasks/AppInstallerFile/package-lock.json
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package-lock.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/InvokeFunctions.ps1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/PathFunctions.ps1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/Strings/resources.resjson/en-US/resources.resjson
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/Strings/resources.resjson/es-es/resources.resjson
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/make.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package-lock.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package.json
  tools/pipelines-tasks/MsixPackaging/package-lock.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixPackaging/task.json
  tools/pipelines-tasks/MsixPackaging/task.loc.json
  tools/pipelines-tasks/MsixSigning/package-lock.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/MsixSigning/securefiles-common/securefiles-common.ts
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/pipelines-tasks/common/package-lock.json
  tools/pipelines-tasks/common/package.json
  tools/utils/azure-pipelines.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon, @jamespik

Add SBoM manifest generation (#501)
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Use custom pool
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Use CredScan
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add publish logs step
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add CodeQL pipeline
  tools/pipelines-tasks/azure-pipelines/code-analysis.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Move CodeQL to build pipeline
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/code-analysis.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Disable tasks for testing
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add System AccessToken
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Refactor duplicated pipeline steps
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/pipelines-tasks/azure-pipelines/templates/build-steps.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Re-enable disabled steps
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add code security analysis tasks to AzDO Extension build pipelines (#502)
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/pipelines-tasks/azure-pipelines/templates/build-steps.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Use latest VM images
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update dependencies
  tools/pipelines-tasks/package-lock.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Specify pool name
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use specific images
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use windows-2019
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Remove "Azure pipelines" pool name
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update dependencies
  tools/pipelines-tasks/package-lock.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Update AzDO extension dependencies (#504)
  tools/pipelines-tasks/package-lock.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Test publish build artifacts
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add missing path
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Try VS2017
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Try windows-2022
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Hide failing tests
  src/inc/shared/Exceptions.hpp
  src/test/msixtest/unpack.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Try ONLY_ACTICE_ARCH...
  src/test/mobile/iOSBVT/iOSBVT.xcodeproj/project.pbxproj
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Try EXCLUDED_ARCHS
  src/test/mobile/iOSBVT/iOSBVT.xcodeproj/project.pbxproj
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Remove test publish step
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use latest pool images in pipelines (#503)
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-windows.yml
  src/inc/shared/Exceptions.hpp
  src/test/mobile/iOSBVT/iOSBVT.xcodeproj/project.pbxproj
  src/test/msixtest/unpack.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add create nuget pipeline
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Move build steps to templates
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-windows.yml
  pipelines/templates/build-aosp.yml
  pipelines/templates/build-ios.yml
  pipelines/templates/build-linux.yml
  pipelines/templates/build-macos.yml
  pipelines/templates/build-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Publish as pipeline artifacts
  pipelines/templates/build-aosp.yml
  pipelines/templates/build-ios.yml
  pipelines/templates/build-linux.yml
  pipelines/templates/build-macos.yml
  pipelines/templates/build-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use download pipeline artifacts task
  pipelines/templates/build-ios.yml
  pipelines/templates/build-linux.yml
  pipelines/templates/build-macos.yml
  pipelines/templates/build-windows.yml
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

List xcode-select
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Remove xcode-select
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

List download dir
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Specify download dir
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms
