Repository microsoft/msix-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @msftrubengu, @ranm-msft, @johnmcpms, @wcheng-msft, @jyvenugo, @sarjanas-msft, @lechacon, @jamespik

CODEOWNERS:

# MSIX SDK
* @msftrubengu @ranm-msft @johnmcpms 

# MsixCoreInstaller owners
/MsixCore/ @wcheng-msft @jyvenugo @sarjanas-msft

# Utils library
/tools/utils/ @ranm-msft @msftrubengu @johnmcpms @lechacon @jamespik

# Azure Pipelines tasks
/tools/pipelines-tasks @ranm-msft @msftrubengu @johnmcpms @lechacon

Part1 - Neccessary changes to compile MSIX SDK with OpenSSL 1.1.1.j
  cmake/bn_conf.h.cmake
  cmake/crypto.cmake
  cmake/dso_conf.h.cmake
  cmake/opensslconf.h.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Part2 - Neccessary changes to compile MSIX SDK with OpenSSL 1.1.1.j
  cmake/crypto_sources.cmake
  lib/CMakeLists.txt
  src/msix/PAL/Signature/OpenSSL/SignatureValidator.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Various makemsix help message improvements (#465)
  src/makemsix/main.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Added following platform specific code under the under the condition that they will considered based on the current platform i.e
  cmake/crypto_sources.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Removing default definition for OPENSSL_NO_EGD flag as that flag by default hides all the implementation details in rand_edg.c which were by default available on earlier version of OpenSSL in use.
  cmake/opensslconf.h.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Removing async_null.c from compilation list as this only make sense if the platform is not windows or posix.
  cmake/crypto_sources.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

With OpenSSL 1.0.2u version default DSO_METHOD was DSO_METHOD_null as MSIX SDK code doesn't set explicitly any DSO macro and hence default DSO_METHOD was used as per old dso_openssl.c source code.
  cmake/crypto.cmake
  cmake/crypto_sources.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Commenting out dso_dlfcn.c - as MSIX SDK uses DSO_NONE to address ios issue - CMakeFiles/crypto.dir/openssl/crypto/dso/dso_dl.c.o has no symbols
  cmake/crypto_sources.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Addressing undefined reference to 'async_local_cleanup' for AOSP platform
  cmake/crypto_sources.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

CR Feedback: Moved OpenSSL lib specific cmake file to sub-directories
  cmake/crypto.cmake
  cmake/openssl/crypto/bn_conf.h.cmake
  cmake/openssl/crypto/dso_conf.h.cmake
  cmake/openssl/opensslconf.h.cmake
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Updated inline comment specific to SignatureValidator.cpp to point to correct old version of OpenSSL
  src/msix/PAL/Signature/OpenSSL/SignatureValidator.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Replaced M_ASN1_OCTET_STRING_print call with ASN1_STRING_print which is the current replacement call.
  src/msix/PAL/Signature/OpenSSL/SignatureValidator.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fixed links in README.md
  README.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fixed links in README.md (#473)
  README.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use MS-DOS time in LFH and CDH
  src/msix/common/ZipObject.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Move MSIX_INTERFACE out of extern C
  src/inc/public/AppxPackaging.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Move SDK exclusive interface to proper place and add extern C. Remove tabs
  src/inc/public/AppxPackaging.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Missing IUnknown
  src/inc/public/AppxPackaging.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Remove submodules
  lib/openssl/.gitmodules
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Remove submodules (#480)
  lib/openssl/.gitmodules
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix AppxPackaging.hpp for modern clang (#479)
  src/inc/public/AppxPackaging.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Prevent XXE attacks
  src/msix/PAL/XML/xerces-c/XmlObject.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Prevent XXE attacks (#482)
  src/msix/PAL/XML/xerces-c/XmlObject.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add unittests
  src/inc/shared/TimeHelpers.hpp
  src/msix/CMakeLists.txt
  src/msix/common/TimeHelpers.cpp
  src/msix/common/ZipObject.cpp
  src/test/msixtest/CMakeLists.txt
  src/test/msixtest/TimeHelpers_ut.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use MS-DOS time in LFH and CDH (#477)
  src/inc/shared/TimeHelpers.hpp
  src/msix/CMakeLists.txt
  src/msix/common/TimeHelpers.cpp
  src/msix/common/ZipObject.cpp
  src/test/msixtest/CMakeLists.txt
  src/test/msixtest/TimeHelpers_ut.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Make it build
  src/inc/AppxPackaging.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Try my best
  src/msix/msix.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add uninit
  sample/BundleSample/BundleSample.cpp
  sample/ExtractContentsSample/ExtractContentsSample.cpp
  sample/OverrideLanguageSample/OverrideLanguageSample.cpp
  sample/OverrideStreamSample/OverrideStreamSample.cpp
  src/inc/AppxPackaging.hpp
  src/msix/CMakeLists.txt
  src/msix/msix.cpp
  test/api/ApiTests.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add noexcept
  src/msix/msix.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix memory leak with openssl (#485)
  sample/BundleSample/BundleSample.cpp
  sample/ExtractContentsSample/ExtractContentsSample.cpp
  sample/OverrideLanguageSample/OverrideLanguageSample.cpp
  sample/OverrideStreamSample/OverrideStreamSample.cpp
  src/inc/AppxPackaging.hpp
  src/msix/CMakeLists.txt
  src/msix/msix.cpp
  test/api/ApiTests.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update package url
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Update MSBuildHelpers with lastest
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/InvokeFunctions.ps1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/MSBuildHelpers.psm1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/PathFunctions.ps1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/Strings/resources.resjson/en-US/resources.resjson
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/Strings/resources.resjson/es-es/resources.resjson
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/make.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/msbuildhelpers.ts
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package-lock.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Update azure-pipelines-task-lib to 3.1.10 per "npm audit"
  tools/pipelines-tasks/AppInstallerFile/package-lock.json
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package-lock.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package-lock.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package-lock.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package-lock.json
  tools/pipelines-tasks/common/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Fix compilation error on MSBuild helpers
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/MSBuildHelpers.psm1
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/msbuildhelpers.ts
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Fix compilation error from lib update
  tools/pipelines-tasks/MsixSigning/securefiles-common/securefiles-common.ts
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Update lock files
  tools/pipelines-tasks/AppInstallerFile/package-lock.json
  tools/pipelines-tasks/MsixAppAttach/package-lock.json
  tools/pipelines-tasks/MsixPackaging/package-lock.json
  tools/pipelines-tasks/MsixSigning/package-lock.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Run npm audit fix in MSBuildHelpers
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package-lock.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add Component Governance task
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/utils/azure-pipelines.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon, @jamespik

Add SBoM generation
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Disable publish; isolate VSIX file
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon
