Repository microsoft/msix-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @msftrubengu, @ranm-msft, @johnmcpms, @wcheng-msft, @jyvenugo, @sarjanas-msft, @lechacon, @jamespik

CODEOWNERS:

# MSIX SDK
* @msftrubengu @ranm-msft @johnmcpms 

# MsixCoreInstaller owners
/MsixCore/ @wcheng-msft @jyvenugo @sarjanas-msft

# Utils library
/tools/utils/ @ranm-msft @msftrubengu @johnmcpms @lechacon @jamespik

# Azure Pipelines tasks
/tools/pipelines-tasks @ranm-msft @msftrubengu @johnmcpms @lechacon

Use arm64
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Typo
  pipelines/azure-pipelines-nuget.yml
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix test publish condition
  pipelines/templates/build-aosp.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use windows image for packaging stage
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use previous build artifacts
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use specific build run
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update pattern
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update patterns
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

List downloads
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Delete files after downloading
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Re-enable build
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix iOS publish test condition
  pipelines/templates/build-ios.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Create directory
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Use xcopy
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Create folders
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix script
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix paths
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Set name and version in SBoM
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix checkout
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix version format
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update comment
  pipelines/azure-pipelines-nuget.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add definition of pipeline to create NuGet packages for MSIX SDK (#505)
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-nuget.yml
  pipelines/azure-pipelines-windows.yml
  pipelines/templates/build-aosp.yml
  pipelines/templates/build-ios.yml
  pipelines/templates/build-linux.yml
  pipelines/templates/build-macos.yml
  pipelines/templates/build-windows.yml
  pipelines/templates/macos-universal.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add scheduled weekly builds
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-windows.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/utils/azure-pipelines.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms, @lechacon, @jamespik

Add CG scan for source dir
  pipelines/templates/build-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Revert "Add CG scan for source dir"
  pipelines/templates/build-windows.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Add scheduled weekly builds for MSIX SDK, MSIX.Utils, and the AzDO tasks extension (#512)
  pipelines/azure-pipelines-aosp.yml
  pipelines/azure-pipelines-ios.yml
  pipelines/azure-pipelines-linux.yml
  pipelines/azure-pipelines-macos.yml
  pipelines/azure-pipelines-windows.yml
  tools/pipelines-tasks/azure-pipelines/ci-build.yml
  tools/utils/azure-pipelines.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms, @lechacon, @jamespik

Updated README.md document such that ZLib dependency now points to v1.2.12 & corresponding commit
  README.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Commenting cmake_minimum_required(VERSION 2.4.4) check to align last commit history.
  lib/zlib/CMakeLists.txt
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix memory leaks ZipObject.cpp
  src/msix/common/ZipObject.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Disable AOSP tests
  pipelines/templates/build-aosp.yml
  src/inc/MSIXResource.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Delete old MSIXResource.hpp
  src/inc/MSIXResource.hpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Disable AOSP tests (#523)
  pipelines/templates/build-aosp.yml
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Fix memory leaks ZipObject.cpp (#519)
  src/msix/common/ZipObject.cpp
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update Microsoft.NET.Test.Sdk dependency
  tools/utils/UtilsTests/UtilsTests.csproj
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon, @jamespik

Update Microsoft.NET.Test.Sdk dependency (#525)
  tools/utils/UtilsTests/UtilsTests.csproj
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon, @jamespik

Fix typo
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Fix typo in author name in package.json (#526)
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon

Add `$schema` to `cgmanifest.json`
  MsixCore/msixmgrLib/cgmanifest.json
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft

Update package.config
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/MSBuildHelpers/package.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @lechacon
