Repository microsoft/msix-packaging, changes with the owners that CODEOWNERS names for each.
All owners: @msftrubengu, @ranm-msft, @johnmcpms, @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC, @florelis

[Task-43971224] Added code changes for Error Code Improvement
  MsixCore/msixmgr/ErrorMessageHelper.cpp
  MsixCore/msixmgr/ErrorMessageHelper.hpp
  MsixCore/msixmgr/msixmgr.cpp
  MsixCore/msixmgr/msixmgr.vcxproj
  MsixCore/msixmgr/msixmgr.vcxproj.filters
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Fixed debug build errors while running from Visual studio for msixmgr project. (#556)
  MsixCore/msixmgrLib/msixmgrLib.vcxproj
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Added few changes to capture no. of failed files during unpack
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Added change to incorporate a change related to indexes being outputted in Console Output
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Removed the code changes related to Github Bug
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Made the Output more descriptive when the failure occurs for VHD Size paramater
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Added code changes to have separate if-else case for CIM and VHD(X) in VHDSize error message
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Changed the ErrorMessageHelper function to handle exceptions using try-catch
  MsixCore/msixmgr/ErrorMessageHelper.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Fixed the code for Exception Handling for ErrorMessageHelper.cpp
  MsixCore/msixmgr/ErrorMessageHelper.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 43971224] Added the description for the ErrorMessageHelper.cpp file
  MsixCore/msixmgr/ErrorMessageHelper.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

[Task - 44528959] Added code changes to resolve the Github Bug
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Update all deps to latest
  tools/pipelines-tasks/AppInstallerFile/package-lock.json
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package-lock.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package-lock.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package-lock.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/common/package-lock.json
  tools/pipelines-tasks/common/package.json
  tools/pipelines-tasks/package-lock.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

Update security tasks and add sbom validation
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/templates/build-steps.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

[AzDO extension] Update tasks dependencies, code analysis tasks and add SBOM validation (#583)
  tools/pipelines-tasks/AppInstallerFile/package-lock.json
  tools/pipelines-tasks/AppInstallerFile/package.json
  tools/pipelines-tasks/MsixAppAttach/package-lock.json
  tools/pipelines-tasks/MsixAppAttach/package.json
  tools/pipelines-tasks/MsixPackaging/package-lock.json
  tools/pipelines-tasks/MsixPackaging/package.json
  tools/pipelines-tasks/MsixSigning/package-lock.json
  tools/pipelines-tasks/MsixSigning/package.json
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/templates/build-steps.yml
  tools/pipelines-tasks/common/package-lock.json
  tools/pipelines-tasks/common/package.json
  tools/pipelines-tasks/package-lock.json
  tools/pipelines-tasks/package.json
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

Update SUPPORT.md
  SUPPORT.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update SUPPORT.md
  SUPPORT.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Update SUPPORT.md (#589)
  SUPPORT.md
Owners: @msftrubengu, @ranm-msft, @johnmcpms

Added code changes for Improving the Error Messages being outputted and to resolve the Github Bug (#590)
  MsixCore/msixmgr/ErrorMessageHelper.cpp
  MsixCore/msixmgr/ErrorMessageHelper.hpp
  MsixCore/msixmgr/msixmgr.cpp
  MsixCore/msixmgr/msixmgr.vcxproj
  MsixCore/msixmgr/msixmgr.vcxproj.filters
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Reverting to v141 Platform Toolset
  MsixCore/msixmgr/msixmgr.vcxproj
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Reverting to v141 Platform Toolset (#591)
  MsixCore/msixmgr/msixmgr.vcxproj
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Update to support logging improvement and fix build issues
  MsixCore/msixmgr/CommandLineInterface.cpp
  MsixCore/msixmgr/CommandLineInterface.hpp
  MsixCore/msixmgr/msixmgr.cpp
  MsixCore/msixmgr/msixmgr.rc
  MsixCore/msixmgr/resource.h
  MsixCore/msixmgrLib/resourceConfig.rcconfig.xml
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Update to support logging improvement and fix build issues
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

Use 1ESPT template
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
  tools/pipelines-tasks/azure-pipelines/templates/build-steps.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

pr trigger
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

template full path
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

template full path
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

use windows-2019
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

Add gdn baselines
  tools/pipelines-tasks/.gdnbaselines
  tools/pipelines-tasks/azure-pipelines/build-vsix.yml
Owners: @ranm-msft, @msftrubengu, @johnmcpms, @florelis

update per PR comments
  MsixCore/msixmgr/CommandLineInterface.cpp
  MsixCore/msixmgr/CommandLineInterface.hpp
  MsixCore/msixmgr/msixmgr.cpp
Owners: @wcheng-msft, @jyvenugo, @sarjanas-msft, @microsoft/MSIX-ENG-IDC

CODEOWNERS:

# MSIX SDK
* @msftrubengu @ranm-msft @johnmcpms 

# MsixCoreInstaller owners
/MsixCore/ @wcheng-msft @jyvenugo @sarjanas-msft @microsoft/MSIX-ENG-IDC

# Utils library
/tools/utils/ @ranm-msft @msftrubengu @johnmcpms @florelis

# Azure Pipelines tasks
/tools/pipelines-tasks @ranm-msft @msftrubengu @johnmcpms @florelis
